body {
  background-color: #222;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  
}

h1,
h2,
h3 {
  font-weight: 200;
}
h2,
h3 {
  font-weight: 200;
  margin: 0;
}
#botao1 {
  border-radius: 10%;
  background-color: white;
  color: darkred;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
  display: block;
}
